{% extends 'base.html' %}
{% block content %}

<h1>{{ username }}'s Profile</h1>
<hr>

{% comment %} print follow/following {% endcomment %}
<h4>Follows: {{ followings|length }}</h4>
<ul>
	{% for following in followings %}
		<li>
			{{ following }}
		</li>
	{% endfor %}
</ul>
<hr>

{% comment %} show cnt of Followers & All Followers{% endcomment %}
<h4>Followers: {{ followers|length }}</h4>
<ul>
	{% for follower in followers %}
		<li>
			{{ follower }}
		</li>
	{% endfor %}
</ul>
<hr>

{% comment %} show cnt of Followings & All Followings{% endcomment %}
<h4>Likes these movies:</h4>
<ul>
	{% for movie in movies %}
	<li>
		{{ movie }}
	</li>
	{% endfor %}
</ul>
<hr>

<a href="{% url 'movies:index' %}">to main page</a>
<hr>

{% endblock content %}