{% extends 'base.html' %}
{% block content %}

<h1>{{user.username}}'s Profile</h1>
<hr>

{% comment %} print follow/following {% endcomment %}
<span>Follows: {{ followings|length }}</span>
<ul>
	{% for following in followings %}
		<li>
			{{ following }}
		</li>
	{% endfor %}
</ul>
<hr>

{% comment %} show cnt of Followers & All Followers{% endcomment %}
<span>Followers: {{ followers|length }}</span>
<ul>
	{% for follower in followers %}
		<li>
			{{ follower }}
		</li>
	{% endfor %}
</ul>
<hr>

{% comment %} show cnt of Followings & All Followings{% endcomment %}
<span>Likes these movies:</span>
<ul>
	{% for movie in movies %}
	<li>
		{{ movie }}
	</li>
	{% endfor %}
</ul>
<hr>
{% endblock content %}